@using BAN_BANH.Method;
@using BAN_BANH.Model;
@{
    Layout = "./Layouts/_Layout_Normal";
    ViewData["Title"] = "Home page";
    var ls = (List<BlockCateOnHomePage>)ViewData[VIEWDATA.HOME_BLOCK];
}


<div class="intro-cake">
    <div class="bg-introimg"><img class="background-intro" src="https://i.ibb.co/XtPrbT9/fresh-wheat-floor-spilled-black-surface-top-view.jpg"></div>
    <div class="container">
        <img class="tada animated movition-img" src="@METHOD.URI_STATIC("/img/design/intro-1.png")">
        <div class="right-intro"><img class="pulse animated" src="@METHOD.URI_STATIC("/img/design/text-2.png")" style="min-width: 425px;max-width: 40vw;"><img data-aos="fade-left" data-aos-delay="500" src="@METHOD.URI_STATIC("/img/design/text-1.png")" style="min-width: 300px;"><a data-aos="fade" data-aos-delay="600" class="buy-btn-intro" href="#" style="min-width: 400px;"><img src="@METHOD.URI_STATIC("/img/design/buy-button.png")"></a></div>
    </div>
</div>
<div class="hot-cake">
    @await Component.InvokeAsync("Header", "normal")

    @await Component.InvokeAsync("Header", "drum")

    <div class="decore-cakestore"><img class="img-decore-2" src="@METHOD.URI_STATIC("/img/design/decore.png")" anim="bottom-100px-100"><img class="img-decore-1" src="@METHOD.URI_STATIC("/img/design/decore-1.png")" anim="top-100px-0"></div>

    @await Component.InvokeAsync("BlockHomeItem", ls)

    @await Component.InvokeAsync("Footer")


</div>

<audio id="audio-sound" controls="">
    <source src="http://nhacchuongvui.com/wp-content/uploads/Nhac-mua-lan-su-rong-www_nhacchuongvui_com.mp3" type="audio/mpeg">
</audio>

