@using BAN_BANH.Model;
@using Method;
@model SanPham;


@{
    var method = new MethodOne();
    var url = method.URLSanPham(Model.ten, Model.pid);
}

<div class="col col-cake-two">

<div class="item-cake-two">
    <a href="@url">
        <div class="image-frame img-ratio-4x3"><img src="@Model.anh"></div>
    </a>
    <div class="detail-cake">
        <a class="name-cake" href="@url">@Model.ten</a>
        <div class="cake-price"><span class="money">@Model.gia</span><span>đ</span></div><button class="btn btn-order-cake" type="button">Đặt mua</button>
    </div>
    </div>
</div>
  
